* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html, body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 20rem 50rem;
}

.container h3 {
  margin-bottom: 2rem;
}

.container .label {
  font-size: 1.8rem;
}

.container .info span {
  font-size: 1.8rem;
  font-weight: 500;
}

.green {
  font-weight: 700;
  color: green;
}

.red {
  font-weight: 700;
  color: red;
}

.default {
  font-weight: 700;
  color: black
}

.container .options {
  margin-top: 5rem;
}

.container .options button {
  border: none;
  padding: 1rem;
  border-radius: .4em;
  background-color: tomato;
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

